<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>View FAQ</span>
        <button class="btn btn-secondary" [routerLink]="['/faq']">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Question</label>
                    <p class="text" [innerHTML]="faq?.question  | striphtml "></p>
                </div>

                <div class="col-md-12 mb-3">
                    <label>Answer</label>
                    <p class="text" [innerHTML]="faq?.answer  | striphtml  "></p>
                </div>

            </div>
        </div>
    </div>
</main>
