<main class="main-pannel">
  <h1 class="section-header">Banner Settings</h1>

  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div class="">

        <section class="search-form">
          <input class="form-control name" [(ngModel)]="filters.search" id="name" required type="text" placeholder="" />
          <button [disabled]='!filters.search' (click)="searchValue()"
            class=" btn btn-primary btn-sm ml-2">Search</button>
          <button *ngIf="filters.search" (click)="clearValue()" class=" btn btn-primary btn-sm ml-2">Clear</button>
        </section>

      </div>

      <div class="">
        <button class="btn btn-primary add" [routerLink]="['/banner/add']">
          Add Banner +
        </button>
      </div>
    </div>

    <div class="content-section">
      <div class="content-body inner-container bg-white text-muted">
        <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="50" [scrollbarV]="false" [rows]="bannerData" [columns]="columns" [limit]="10"
          (page)="setPage($event)">

          <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
          </ngx-datatable-column>
          <ngx-datatable-column name="Title" prop="title">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <a href="javascript:void(0);" (click)="view(row.id)" title="View Banner">{{value}}</a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Reference" prop="refrence">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status" prop="status">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <button (click)="changeStatus(value, row.id)" class="btn" [ngClass]="{
                    'btn-success': value == 'active',
                    'btn-danger': value == 'deactive'
                  }" title="{{
                    value == 'active' ? 'Active' : 'Inactive'
                  }}">
                {{ value == "active" ? "Active" : "Deactive" }}
              </button>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" sortable="false">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="action">
                <button class="btn btn-secondary mr-3" (click)="edit(row.id)">
                  Edit
                </button>
                <button class="btn btn-danger mr-3" (click)="remove(row.id)">
                  Delete
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>

  </div>
</main>