@import "../../../assets/scss/mixin";

.top-space{
    height: $headerHeight;
}


.user-img-logo {
    height: 25px;
    width: 25px;
    object-fit: cover;
    object-position: top center;
}

.logo {
    display: inline-block;
    padding: 9px 0;
    img {
    width: 100%;
    max-width: 194px;
    }
}

.app-search{
    position: relative;
    margin-top: 24px;
    a{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right: 15px;
    }
}

.my-account-dropdown{

.dropdown-item{
    >i{
        margin-right: 10px;
    }
}

}

.top-not-cen{
    position: relative;
    margin-top: 15px;
    padding-top: 10px !important;
}