<div class="container-fluid sb1">
    <div class="row align-items-center">
        <!--== LOGO ==-->
        <div class="col-md-3 col-sm-3 col-xs-6 py-0">
            <a class="logo"><img src="assets/img/logo.png" alt=""></a>
        </div>
        <!--== SEARCH ==-->
        <div class="col-md-7 col-sm-6 mob-hide">
            <!-- <form class="app-search">
                <input type="text" placeholder="Search..." class="form-control"> 
                <a><i class="fa fa-search"></i></a> </form> -->
        </div>

        <!--== NOTIFICATION ==-->
        <!-- <div class="col-md-2 tab-hide">
            <div class="top-not-cen"> <a class="waves-effect btn-noti" [routerLink]="['/']">
            <i class="fa fa-commenting-o" aria-hidden="true"></i><span>5</span></a>
             <a class="waves-effect btn-noti" [routerLink]="['/']">
                 <i class="fa fa-envelope-o" aria-hidden="true"></i><span>5</span></a>
                  <a class="waves-effect btn-noti" [routerLink]="['/']">
                      <i class="fa fa-tag" aria-hidden="true"></i><span>5</span></a> </div>
        </div> -->

        <!--== MY ACCCOUNT ==-->
        <div class="col-md-2 col-sm-3 col-xs-6 text-right">
            <!-- Dropdown Trigger -->
            <div ngbDropdown class="d-inline-block my-account-dropdown">
                <button class="btn btn-outline-primary shadow-none" id="dropdownBasic1" ngbDropdownToggle>
                    <img class="round-profile" *ngIf="!user.image && !updateData.image"
                        src="assets/img/default_user.jpg" class="user-img-logo" />
                    <img class="round-profile" *ngIf="user.image || updateData.image"
                        src="{{_host}}images/users/thumbnail/200/{{updateData.image?updateData.image:user?.image}}" />
                    {{updateData.firstName?updateData.firstName:user?.firstName | titlecase }}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem [routerLink]="['/profile/myprofile']"><i
                            class="fa fa-user"></i>Profile</button>
                    <button ngbDropdownItem [routerLink]="['/auth/change-password']"><i
                            class="fa fa-unlock-alt"></i>Change Password</button>
                    <button ngbDropdownItem (click)="logout()"><i class="fas fa-sign-out-alt"></i>Logout</button>
                </div>
            </div>
            <!-- Dropdown Structure -->

        </div>
    </div>
</div>

<div class="top-space"></div>