/**
Application base files
**/
 

@import 'mixin';
@import 'responsive';
@import 'theme_color';
/** 
Override bootstrap components
**/


@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');

.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell, .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-group-cell{
    white-space: initial !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row{
    height: auto !important;
}

.action {
    .btn{
        font-size: 10px;
        margin: 3px !important;
    }
}


.td-text{
    margin: 0;
    *{
        display: inline;
        margin: 0;
    }
}


.md-drppicker .ranges ul li button.active{
    background-color: $primaryColor !important;
    color: #333 !important;
    outline: none !important;
}

.md-drppicker th.available.prev, .md-drppicker th.available.next {
background-color:  $primaryColor !important;
}

.md-drppicker th{
    color: #fff !important;
}

.md-drppicker td.active{
    background-color: $primaryColor !important;
    color: #333 !important;
    opacity: 1;
}

.datatable-header-cell-label {
    font-weight: 600;
}

datatable-body-cell {
    height: auto !important;
    padding: 7px 12px !important;
    display: inline-flex !important;
    align-items: center;
}

angular-file-uploader{
    label.btn{
        margin: 0;
    }

    .resetBtn{
        margin-left: 7px !important;
    }

    div.row{
        margin: 0;
    }

    p.col-xs-3 {
        margin-bottom: 0;
    }

    p.text-success {
        font-size: 18px;
    }
}

.search-form{
    display: flex;
}

a{
    cursor: pointer;
}

body{
    background-color: #ececec;
}

input[type="password"], .password input{
    padding-right: 35px !important;
}

select.form-control{
 background-image: none !important;   
}
.card {
        padding-top: 3rem;
        border: 0;
        margin-bottom: 30px;
        margin-top: 30px;
        border-radius: 3px;
        color: #333;
        background: #fff;
        width: 100%;
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    }
.main-pannel {
    float: left;
    width: 80%;
    padding: 20px;
    margin-left: 20%;
    margin-top: 3.5rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(255 255 255 / 3%);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.form-control, .table{
    font-size: 14px;
    line-height:  normal;
}

table{
    th,td{
        vertical-align: middle !important;
    }

    thead{
        background-color: $secondaryColor;
        color:#fff;
    }
}

.btn{
    font-size: 14px;
    font-weight: 500 !important;
    line-height: normal !important;
    padding: 6px 12px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
}

.search-flex{
    display: inline-flex;
    input{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none !important;
    box-shadow: none !important;
    }

    >.btn{
        border-radius: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
a.btn.btn-secondary.mr-3 {
    color: #fff;
}
.section-header {
    background-color:$primaryColor;
    color: #fff;
    padding: 12px 15px;
    line-height: normal;
    font-size: 28px;
    margin: -65px 10px;
    border-radius: 3px;
    position: relative;
    z-index: 999 !important;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
}



.emptytd {
    text-align: center;
    padding: 50px 15px !important;

    .iconq {
        display: flex;
        width: 60px;
        align-items: center;
        height: 60px;
        border-radius: 4px;
        font-size: 20px;
        color: #fff;
        justify-content: center;
        margin: auto;
        background-color: $primaryColor;
    }

    .qtext {
        font-size: 18px;
        display: block;
        font-weight: 500;
        margin-top: 10px;
    }
}

.thumbnail{
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    img{
        height: 60px;
        width:60px;
        object-fit: cover;
        cursor: pointer;
        object-position: center center;
        border-radius: 4px;
    }

    .close{
        position: absolute;
        font-size: 18px;
        top: -7px;
        color: #E91E63;
        right: -5px;
        opacity: 1;
        cursor: pointer;
    }
}

.form-row{
    *{

        .has-required{
            >label{
            &::after{
                content: "*";
                color:red;
                display: inline-block;
                margin-left: 4px;
            }
            }
        }

        label{
            font-weight: 600;
            font-size: 14px;
        }

        p.text {
            margin-bottom: 0;
            background-color: #f3f3f3;
            padding: 6px 10px;
            font-size: 14px;
            border-radius: 3px;
        }
    }
}

.addupdateform {
    .form-group{
        display: flex;

        >label{
            width: 100px;
            font-size: 14px;
            margin-top: 9px;
            text-align: right;
        }

        >section{
            width: calc(100% - 100px);
            padding-left: 10px;
        }
    }
}