@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700");
/* :: 2.0 Import All CSS */
// @import url(assets/css/bootstrap.min.css);
@import url(../css/classy-nav.css);
@import url(../css/font-awesome.min.css);
@import url(../css/fontawesome.min.css);
@import url(../css/themify-icons.css);
@import url(../css/owl.carousel.min.css);
@import url(../css/animate.css);
@import url(../css/magnific-popup.css);

/* Importing Bootstrap SCSS file. */
// @import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import "~@swimlane/ngx-datatable/index.css";
@import "~ngx-toastr/toastr.css";


@import "./main.scss";

.modal-backdrop{
  z-index: 9999;
}
.modal{
  z-index: 99999;
}

.datatable-body-cell-label {
  text-transform: capitalize;
}

.font-weight-medium{
  font-weight: 500 !important;
}
.multiselect-dropdown .dropdown-btn .selected-item a{
  text-decoration: none;
  font-size: 13px !important;
  margin-top: 2px !important;
  padding-left: 8px !important;
}
// toster
.toast-container .toast{
  position: relative;
&::before{
  content: "";
  font-family: "Font Awesome 5 Free" !important;
  font-size: 20px;
  position: absolute;
  left:15px;
  top:50%;
  transform: translateY(-50%);
}


  
&:hover {
  opacity: initial !important;
}
}

.toast-container .toast {
  opacity: 1;
}

   
/* // Loader start */
.loader1mk {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.loader-logo {
  width: 60px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* // loader end */

/* You can add global styles to this file, and also import other style files */
span.fa.fa-eye-slash {
    float: right;
    margin-right: 10px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
}
span.fa.fa-eye{
    float: right;
    margin-right: 10px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
}
img.img-responsive.w100 {
    width: 100%;
    max-width: 10rem;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}
.modal-backdrop.show {
    opacity: 0.9 !important;
}
.app-search input {
    color: #cecece;
    color: #cecece !important;
    position: relative;
    margin: 12px 15px 8px 5px;
    font-size: 16px;
    color: #626773;
    padding-left: 20px;
    padding-right: 40px;
    background: transparent;
    border: 1px solid rgba(122, 125, 132, 0.15);
    box-shadow: none;
    border-radius: 30px;
    font-weight: 600;
    width: 100%;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
}
.btn-outline-primary:hover {
    color: #626773;
    background-color: #ffffff;
    border-color: none;
}
.btn-outline-primary {
    color: #626773;
}
button#dropdownBasic1 {
    border: none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #464040;
    background-color: #ffffff;
    border-color: none;
}
.eye {
  background: #852176 !important;
  border: 1px solid #831e74 !important;
}
.sb1 {
    background: #ffffff;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.22);
}
.top-not-cen {
    margin: 0 auto;
    display: table;
    padding-top: 14px !important;
}
.btn-noti {
    width: 35px;
    height: 23px;
    top: 18px;
    display: initial !important;
    color: #000;
    font-size: 20px;
    margin-right: 20px;
}
.top-user-pro {
    padding: 18px 20px;
    color: #494b4b;
    float: right;
}
.btn-noti span {
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 8px;
    height: 14px;
    border-radius: 10px;
    min-width: 15px;
    background: #4CAF50;
    color: #fff;
    line-height: 14px;
    padding: 0px 2px;
    font-size: 11px;
    white-space: nowrap;
    -webkit-transform-origin: -10% center;
    -ms-transform-origin: -10% center;
    transform-origin: -10% center;
    font-family: tahoma;
    box-shadow: 0 0 0 1px #3d793f;
    text-align: center;
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(37 61 82 / 0%) !important;
}

img.round-profile {
    border-radius: 50px;
    height: 1.6rem;
}