<div class="sb2-1">
    <!--== USER INFO ==-->
    <!-- <div class="sb2-12">
        <ul>
            <li><img src="assets/img/2.png" alt=""> </li>
            <li>
                <h5>John Smith <span> Santa Ana, CA</span></h5> </li>
            <li></li>
        </ul>
    </div> -->


    <!--== LEFT MENU ==-->
    <div class="sb2-13" style="background-image: url(../assets/img/sidebar-1.jpg) ">
        <ul class="collapsible" data-collapsible="accordion">
            <li><a [routerLink]="['/dashboard']" class="menu-active">
                    <i class="fa fa-fire" aria-hidden="true"></i>
                    Dashboard</a>
            </li>

            <!-- <li><a href="javascript:void(0)" [routerLink]="['/users']" class="collapsible-header">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Users
                </a>
            </li> -->
            <li><a href="javascript:void(0)" [routerLink]="['/subadmins']" class="collapsible-header">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Sub Admins
                </a>
            </li>
            <li><a href="javascript:void(0)" [routerLink]="['/companies']" class="collapsible-header">
                <i class="fa fa-user" aria-hidden="true"></i>
                Companies
            </a>
        </li>
            <!-- <li><a href="javascript:void(0)" [routerLink]="['/categoryType']" class="collapsible-header">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    Category Type
                </a>
            </li> -->
            <!-- <li><a href="javascript:void(0)" [routerLink]="['/category']" class="collapsible-header">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    Category
                </a>
            </li> -->
            <li><a href="javascript:void(0)" [routerLink]="['/rolesAndPermissions']" class="collapsible-header">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    Roles & Permission
                </a>
            </li>

            <!-- <li><a href="javascript:void(0)" [routerLink]="['/blogs']" class="collapsible-header">
                    <i class="fa fa-rss-square" aria-hidden="true"></i>
                    Blogs
                </a>
            </li> -->

            <!-- <li><a href="javascript:void(0)" [routerLink]="['/content']" class="collapsible-header">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    Manage Content
                </a>
            </li> -->
            <!-- <li><a href="javascript:void(0)" [routerLink]="['/faq']" class="collapsible-header">
                    <i class="fa fa-question" aria-hidden="true"></i>
                    FAQ
                </a>
            </li> -->
            <!-- <li><a href="javascript:void(0)" [routerLink]="['/vacancies']" class="collapsible-header">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                    Vacancies
                </a>
            </li> -->

            <!-- <li><a href="javascript:void(0)" [routerLink]="['/feedback']" class="collapsible-header">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    Feedback
                </a>
            </li> -->
            <!-- <li><a href="javascript:void(0)" [routerLink]="['/newsletter']" class="collapsible-header">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    Newsletter Subscribers
                </a>
            </li> -->
            <!-- <li><a [routerLink]="['/settings']"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a> </li> -->
        </ul>
    </div>
</div>