<ngx-spinner bdColor="#fff" size="" color="#fff">
  <img src="/assets/img/loader2.gif" class="loader-logo" />
</ngx-spinner>

<app-header *ngIf="user"></app-header>
<app-sidebar *ngIf="user"></app-sidebar>
<router-outlet></router-outlet>

<app-footer *ngIf="user"></app-footer>