<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>Edit Settings</span>
        <button class="btn btn-secondary" [routerLink]="['/settings']">
            <i class="fa fa-arrow-left" title="Back"></i>
        </button>
    </h1>

    <div class="card">
        <div class="card-body">
                <form [formGroup]="settForm" (ngSubmit)="onSubmit()">
                    <fieldset>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab == 'commission'}" id="commission-tab" data-toggle="tab" href="#commission" role="tab">Commission Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab == 'gst'}" id="gst-tab" data-toggle="tab" href="#gst" role="tab">GST Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab == 'delivery'}" id="delivery-tab" data-toggle="tab" href="#delivery" role="tab">Delivery Charges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab == 'discount'}" id="user-discount" data-toggle="tab" href="#discount" role="tab">User Discount</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab == 'banner'}" id="user-banner" data-toggle="tab" href="#banner" role="tab">Banner Settings</a>
                    </li>
                </ul>

                        <div class="card-body viewmode tabs px-0">

                        <div class="tab-content" id="myTabContent">                            

                            <!-- Tab panes -->
                            <div class="tab-pane" [ngClass]="{'active': tab == 'commission'}" id="commission" role="tabpanel" aria-labelledby="commission-tab">
                                <div class="card-block pt-0 mt-0">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="nf-name">Commission (%)</label>
                                                <section>
                                                    <input type="number" autocomplete="off" placeholder=""
                                                        name="commission" id="commission" formControlName="commission"
                                                        min="0" max="100" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.commission.errors }"
                                                        required="">
                                                    <div *ngIf="submitted && f.commission.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.commission.errors.required">Commission is required
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" [ngClass]="{'active': tab == 'gst'}" id="gst" role="tabpanel" aria-labelledby="gst-tab">
                                <div class="card-block pt-0 mt-0">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="nf-name">GST (%)</label>
                                                <section>
                                                    <input type="number" autocomplete="off" placeholder=""
                                                        name="gst" id="gst" formControlName="gst"
                                                        min="0" max="100" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.gst.errors }"
                                                        required="">
                                                    <div *ngIf="submitted && f.gst.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.gst.errors.required">GST is required
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                             <div class="tab-pane" [ngClass]="{'active': tab == 'delivery'}" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
                                <div class="card-block pt-0 mt-0">
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="nf-name">Delivery Charges ($)</label>
                                                <section>
                                                    <input type="number" autocomplete="off" placeholder=""
                                                        name="delivery_charges" id="delivery_charges" formControlName="delivery_charges"
                                                        min="0" max="100" class="form-control"
                                                        [ngClass]="{ 'is-invalid': submitted && f.delivery_charges.errors }"
                                                        required="">
                                                    <div *ngIf="submitted && f.delivery_charges.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.delivery_charges.errors.required">Delivery charges is required
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" [ngClass]="{'active': tab == 'discount'}" id="discount"  role="tabpanel" aria-labelledby="user-discount">
                                    <div class="card-block pt-0 mt-0">
                                        <div class="row">
                                            <div class="col-sm-6"> 
                                                <div class="form-group">
                                                    <label for="nf-name">User Discount (%)</label>
                                                    <section>
                                                        <input type="number" autocomplete="off" placeholder=""
                                                            name="discount" id="discount" formControlName="discount"
                                                            min="0" max="100" class="form-control"
                                                            [ngClass]="{ 'is-invalid': submitted && f.discount.errors }"
                                                            required="">
                                                        <div *ngIf="submitted && f.discount.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f.discount.errors.required">user-discount is required
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane" [ngClass]="{'active': tab == 'banner'}" id="banner"  role="tabpanel" aria-labelledby="user-banner">
                                    <div class="card-block pt-0 mt-0">
                                        <div class="row">
                                            <div class="col-sm-12"> 
                                                <div class="form-group">
                                                    <!-- <label for="nf-name">Banner Title</label> -->
                                                    <section>
                                                        <div class="form-row">
                                                            <div class="col-md-12 mb-3">
                                                                <label>Banner Title</label>
                                                                <input type="text" autocomplete="off" placeholder=""
                                                                    name="bannerTitle" id="bannerTitle" formControlName="bannerTitle"
                                                                    min="0" max="100" class="form-control"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.bannerTitle.errors }"
                                                                    required="">
                                                                <div *ngIf="submitted && f.bannerTitle.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.bannerTitle.errors.required">bannerTitle is required
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12 mb-3">
                                                                <label>Banner Description</label>
                                                                <ckeditor name="bannerDiscription" id="bannerDiscription" formControlName="bannerDiscription"
                                                                [ngClass]="{ 'is-invalid': submitted && f.bannerDiscription.errors }" required="">
                                                                <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [icon]="'save.png'"
                                                                    [label]="'Save Document'" [toolbar]="'clipboard,1'">
                                                                </ckbutton>
                                                                </ckeditor>
                                                                <div *ngIf="submitted && f.bannerDiscription.errors" class="invalid-feedback">
                                                                    <div *ngIf="f.bannerDiscription.errors.required">Please add description of blog
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-12 mb-3">
                                                                <label>Banner Images</label>
                                                                <input #myInput type="file" name="file-7[]" id="file-7" class="d-none"
                                                                data-multiple-caption="{count} files selected" imageUpload
                                                                (imageSelected)="uploadImage($event)" accept="image/jpg, image/jpeg, image/png" />
                                                                <div>
                                                                <label for="file-7" class="btn btn-primary">
                                                                    <i class="fa fa-photo"></i>
                                                                    {{bannerImage ? 'Change' : 'Upload'}} Image 
                                                                </label>
                                                                </div>
                            
                                                                <div class="mt-2" *ngIf="bannerImage">
                                                                        <div class="thumbnail img" *ngFor="let img of bannerImage; let i = index">
                                                                            <img src="{{_host}}images/banner/{{img}}" (click)="modalOpen(img)">
                                                                            <i class="close fa fa-times" (click)="removeImage(i)"></i>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>

                        </div>

                    
                        </div>
                        <div class="col-md-12 px-0 text-right">
                            <button class="btn btn-secondary">Update</button>
                        </div>
                    </fieldset>
                </form>
           
        </div>
    </div>
</main>


<div class="modal d-block imagemodal" tabindex="-1" role="dialog" *ngIf="imageModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title"></h5> -->
          <button type="button" class="close" (click)="modalClose()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{_host}}images/banner/{{modalimg}}" class="w-100" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalClose()">Close</button>
        </div>
      </div>
    </div>
  </div>