<main class="main-pannel">
    <h1 class="section-header">Sub Admins</h1>

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="">
                <form class="search-form" (ngSubmit)="searchValue()">
                    <input class="form-control name" [(ngModel)]="filters.search" [ngModelOptions]="{standalone: true}"
                        id="name" required type="text" placeholder="" />
                    <button type="submit" [disabled]='!filters.search'
                        class=" btn btn-secondary btn-sm ml-2">Search</button>
                    <button type="button" *ngIf="filters.search" (click)="clearValue()"
                        class=" btn btn-secondary btn-sm ml-2">Clear</button>
                </form>

            </div>

            <div class="text-right d-flex">
                <form class="mr-2">
                    <!-- <label for="cars">employer sub_admin</label> -->
                    <!-- <select class="form-control" name="cars" id="cars">
            <option value="volvo">employer sub_admin</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select> -->
                    <!-- <select class="form-control mr-2" (change)="filterData($event.target.value)"
                        style="max-width: 100px;">
                        <option value="all">All</option>
                        <option value="employer">Employer</option>
                        <option value="sub_admin">Sub Admin </option>
                    </select> -->
                </form>

                <button class="btn btn-secondary add" (click)="add()">
                    Add
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs mt-2 pl-3" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link  " [ngClass]="{active: actionType==='active'}" id="home-tab" data-toggle="tab"
                    (click)="filters.isDeleted=false;getUsers()" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{active: actionType==='deleted'}" id="profile-tab" data-toggle="tab"
                    (click)="filters.isDeleted=true;getUsers()" href="#profile" role="tab" aria-controls="profile"
                    aria-selected="false">Deleted Items</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade  " [ngClass]="{    active: actionType==='active',show: actionType==='active'}"
                id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="content-section">
                    <div class="content-body inner-container bg-white text-muted">
                        <!-- <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="50" [scrollbarV]="false" [rows]="userData"
                            [columns]="columns" [limit]="10" (page)="setPage($event)" [offset]="page -1 "> -->
                            <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="50" [scrollbarV]="false" [rows]="userData" [columns]="columns" [limit]="5"
                            (page)="setPage($event)" [externalPaging]="true" [count]="totalItems">
                            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Name" prop="name">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <a href="javascript:void(0);" class="text-secondary"
                                        (click)="viewUser(row.id,'active')" title="View User">{{value}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Email" prop="email">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span style="text-transform: initial;">{{value}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Created At" prop="date">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{ value | date: "mediumDate" }}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Status" prop="status">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button (click)="changeStatus(value, row.id)" class="btn" [ngClass]="{
                  'btn-success': value == 'active',
                  'btn-danger': value == 'deactive'
                }" title="{{
                  value == 'active' ? 'Active' : 'Inactive'
                }}">
                                        {{ value == "active" ? "Active" : "Deactive" }}
                                    </button>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Actions" sortable="false">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div class="action">
                                        <button class="btn btn-secondary mr-2" (click)="edit(row.id,'active')">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-danger" (click)="remove(row.id)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" [ngClass]="{    active: actionType==='deleted',show: actionType==='deleted'}"
                id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="content-section">
                    <div class="content-body inner-container bg-white text-muted">
                        <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="50" [scrollbarV]="false" [rows]="userData"
                            [columns]="columns" [limit]="10" (page)="setPage($event)" [offset]="page -1 ">

                            <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Name" prop="name">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <a href="javascript:void(0);" class="text-secondary"
                                        (click)="viewUser(row.id,'deleted')" title="View User">{{value}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Email" prop="email">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span style="text-transform: initial;">{{value}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Deleted By" prop="deletedBy">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    {{value.fullName}}
                                </ng-template>
                            </ngx-datatable-column>
                            <!-- <ngx-datatable-column name="Deleted By" prop="deletedBy">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{value.fullName}}
                </ng-template>
              </ngx-datatable-column> -->
                            <ngx-datatable-column name="Deleted At" prop="deletedAt">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{ value | date: "mediumDate" }}
                                </ng-template>
                            </ngx-datatable-column>
                            <!-- <ngx-datatable-column name="Status" prop="status">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button (click)="changeStatus(value, row.id)" class="btn" [ngClass]="{
                    'btn-success': value == 'active',
                    'btn-danger': value == 'deactive'
                  }" title="{{
                    value == 'active' ? 'Active' : 'Inactive'
                  }}">
                    {{ value == "active" ? "Active" : "Deactive" }}
                  </button>
                </ng-template>
              </ngx-datatable-column> -->
                            <ngx-datatable-column name="Actions" sortable="false">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <div class="action">
                                        <button class="btn btn-danger mr-2" (click)="removePermanent(row.id)">
                                            Permanent Delete
                                        </button>
                                        <button class="btn btn-success" (click)="moveBack(row.id)">
                                            Rollback
                                        </button>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>