<main class="main-pannel">
  <h1 class="section-header">Content Listing</h1>

  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div class="">

        <form class="search-form" (ngSubmit)="searchValue()">
          <input class="form-control name" [(ngModel)]="filters.search" [ngModelOptions]="{standalone: true}" id="name"
            required type="text" placeholder="" />
          <button type="submit" [disabled]='!filters.search' class=" btn btn-secondary btn-sm ml-2">Search</button>
          <button type="button" *ngIf="filters.search" (click)="clearValue()"
            class=" btn btn-secondary btn-sm ml-2">Clear</button>
        </form>

      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="content-section">
          <div class="content-body inner-container bg-white text-muted">
            <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="50" [scrollbarV]="false" [rows]="contentData" [columns]="columns" [limit]="10"
              (page)="setPage($event)">

              <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
              </ngx-datatable-column>
              <ngx-datatable-column name="Title" prop="title">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <a href="javascript:void(0);" (click)="view(row.slug)" title="View Blog">{{value}}</a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Created At" prop="date">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | date: "mediumDate" }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" sortable="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="action">

                    <button class="btn btn-primary eye mr-3" (click)="view(row.slug)">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-secondary mr-3" (click)="edit(row.slug)">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>