<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>Edit Feedback</span>

        <button *ngIf="pageNo" class="btn btn-secondary" routerLink="/feedback">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
        <button  *ngIf="!pageNo" class="btn btn-secondary" [routerLink]="['/feedback']">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <form class="form-row addupdateform" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <fieldset>

            <div class="col-md-12 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row addupdateform">
                            <div class="col-sm-12">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Title</label>
                                    <section>
                                       <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" formControlName="title" />
                                       <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                        <div *ngIf="f.title.errors.required">Title is required</div>
                                    </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Email</label>
                                    <section>
                                        <input type="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control"    formControlName="email" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                         <div *ngIf="f.email.errors.required">Email is required</div>
                                     </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Message</label>
                                    <section>
                                        <textarea class="form-control"   [ngClass]="{ 'is-invalid': submitted && f.message.errors }" formControlName="message"></textarea>
                                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                         <div *ngIf="f.message.errors.required">Message is required</div>
                                     </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</main>