<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>{{ ID ? "Edit" : "Add" }} Banner</span>
        <button class="btn btn-secondary" [routerLink]="['/banner']">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="col-md-12 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row addupdateform">
                            <div class="col-sm-12">
                                <div class="form-group ">
                                    <label for="nf-name">Banner Title</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" maxlength="500"
                                            formControlName="title" class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                            <div *ngIf="f.title.errors.required">Title is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="nf-name">Shop Button</label>
                                    <section>
                                        <div class="button-cover">
                                            <div class="button r" id="button-1">
                                                <input type="checkbox" (change)="shopchange()" formControlName="shop_now" class="checkbox" />
                                                <div class="knobs"></div>
                                                <div class="layer"></div>
                                            </div>
                                        </div>
                                        
                                        
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-12" *ngIf="bannerForm.value.shop_now" >
                                <div class="form-group has-required">
                                    <label for="nf-name">Reference</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" maxlength="500"
                                            formControlName="refrence" class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.refrence.errors }" required="">
                                        <div *ngIf="submitted && f.refrence.errors" class="invalid-feedback">
                                            <div *ngIf="f.refrence.errors.required">Reference is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            

                            <div class="col-sm-12">
                                <div class="form-group has-required">
                                    <label for="nf-description">Description</label>
                                    <section>
                                        <ckeditor name="description" id="description" formControlName="description"
                                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [icon]="'save.png'"
                                                [label]="'Save Document'" [toolbar]="'clipboard,1'">
                                            </ckbutton>
                                        </ckeditor>
                                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                            <div *ngIf="f.description.errors.required">Please add description of blog
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>


                            
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label  for="nf-image">Image</label>
                                    <section>
                                    <input #myInput type="file" name="file-7[]" id="file-7" class="d-none"
                                        data-multiple-caption="{count} files selected" imageUpload
                                        (imageSelected)="uploadImage($event)" accept="image/jpg, image/jpeg, image/png" />
                                    <label for="file-7" class="btn btn-primary">
                                        <i class="fa fa-photo"></i>
                                        {{blogImage ? 'Change' : 'Upload'}} Image
                                    
                                    </label>

                                    <div class="mt-2" *ngIf="blogImage">
                                            <div class="thumbnail img">
                                                <img src="{{_host}}images/banner/{{blogImage}}">
                                                <i class="close fa fa-times" (click)="removeImage()"></i>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary">{{ ID ? "Update" : "Add" }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</main>