<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>{{ companyId ? "Edit" : "Add" }} Company</span>
        <button *ngIf="pageNo" class="btn btn-secondary" routerLink="/companies/companies/{{pageNo}}">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
        <button *ngIf="!pageNo" class="btn btn-secondary" routerLink="/companies/">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="col-md-12 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row addupdateform">
                            <!-- <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">First Name</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" formControlName="firstName"
                                            class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required="">
                                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.firstName.errors.required">First name is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div> -->

                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Name</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" formControlName="name"
                                            class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required="">
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Name is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Address</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" formControlName="address"
                                            class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }" required="">
                                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                            <div *ngIf="f.address.errors.required">Address is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Email</label>
                                    <section>
                                        <input type="email" autocomplete="off" placeholder="Ex. xyz@gmail.com"
                                            formControlName="email" class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required="">
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Contact</label>
                                    <section>
                                        <input type="number" autocomplete="off" placeholder="" name="mobileNo"
                                            id="mobileNo" formControlName="mobileNo"
                                            pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" required="">
                                        <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                                            <div *ngIf="f.mobileNo.errors.required">Contact is required</div>
                                            <div *ngIf="f.mobileNo.errors?.min">
                                                Mobile must be at least 10 digits.
                                            </div>
                                            <div *ngIf="f.mobileNo.errors?.max">
                                                Mobile cannot exceed above 12 digits.
                                            </div>
                                            <div *ngIf="f.mobileNo.errors?.pattern">
                                                Invalid Mobile number.
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Billing type</label>
                                    <section>
                                        <input type="radio"  name= "billing_type" formControlName="billing_type" value="non_billable" class="mr-1"/>
                                        <label for="nf-name">Non Billable</label>
                                        <input type="radio"  name= "billing_type" formControlName="billing_type" value="billable" class="mr-1" selected/>
                                        <label for="nf-name">Billable</label>
                                        <div *ngIf="submitted && f.billing_type.errors">
                                            <div class="text-danger"  *ngIf=" f.billing_type.required"> Please Select Billing Type
                                            </div>
                                        </div>
                        
                                    </section>
                                
              </div>
              </div>

                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary">{{ userID ? "Update" : "Add" }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</main>