<ngx-spinner bdColor="#fff" size="" color="#fff">
  <img src="/assets/img/loader2.gif" class="loader-logo" width="100" />
</ngx-spinner>
<div class="bg-light container-fluid">
  <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6 py-4">
      <!-- form card change password -->
      <div class="card shadow  border-0 rounded-0">
        <div class="mt-4 text-center">
          <img src="assets/img/logo.png" class="form-logo" />
          <h4 class="mb-0">Change Password</h4>
        </div>
        <div class="card-body">
          <form class="form" role="form" autocomplete="off" [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="star" for="inputPasswordOld">Current Password :</label>
              <input class="form-control" [type]="oldPassTextType ? 'text' : 'password'"
                formControlName="currentPassword" name="currentPassword"
                [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" placeholder="Old password  *">
              <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                <div *ngIf="f.currentPassword.errors.required">Old password is required</div>
              </div>
              <span class="fa" [ngClass]="{
          'fa-eye-slash': !oldPassTextType,
          'fa-eye': oldPassTextType
        }" (click)="toggleOldPassword()"></span>
              <!-- <input type="password" class="form-control" id="inputPasswordOld" required=""> -->
            </div>
            <div class="form-group">
              <label class="star" for="inputPasswordNew">New Password :</label>
              <input class="form-control" [type]="newPassTextType ? 'text' : 'password'" formControlName="newPassword"
                name="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"
                placeholder="New password *">
              <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">New password is required</div>
                <div *ngIf="f.newPassword.errors.minlength">
                  Password must be at least 5 characters long.
                </div>
              </div>
              <span class="fa" [ngClass]="{
          'fa-eye-slash': !newPassTextType,
          'fa-eye': newPassTextType
        }" (click)="toggleNewPassword()"></span>
              <!-- <input type="password" class="form-control" id="inputPasswordNew" required="">
                    <span class="form-text small text-muted">
                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                        </span> -->
            </div>
            <div class="form-group">
              <label class="star" for="inputPasswordNewVerify">Verify :</label>
              <input class="form-control" [type]="cnfmPassTextType ? 'text' : 'password'"
                formControlName="confirmPassword" name="confirmPassword"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Confirm password *">
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                <div *ngIf="f.confirmPassword.errors.confirmMatch">Confirm password must match with new password</div>
              </div>
              <span class="fa" [ngClass]="{
          'fa-eye-slash': !cnfmPassTextType,
          'fa-eye': cnfmPassTextType
        }" (click)="toggleCnfmPassword()"></span>
              <!-- <input type="password" class="form-control" id="inputPasswordNewVerify" required=""> -->
              <span class="form-text small text-muted">
                To confirm, type the new password again.
              </span>
            </div>
            <div class="text-right">
              <a [routerLink]="['/dashboard']" class="btn btn-secondary mr-2 px-3 rounded-0">Back</a>
              <button type="submit" class="btn btn-primary px-3 rounded-0">Save</button>
            </div>
          </form>
        </div>
      </div>
      <!-- /form card change password -->

    </div>
  </div>