<main class="main-pannel">
    <h1 class="section-header"> Newsletter</h1>


    <div class="card border-0 shadow">
        <div class="card-header d-flex justify-content-between">


            <!-- <form action="#" class="search-form" method="get">
              <input class="form-control" name="search" (keyup)="search($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchTerm"
                placeholder="Search" type="text" />
              <button class=" btn btn-secondary ml-2" id="search-btn" (click)="search($event, 'button')" name="search"
                type="submit">
                Search
              </button>
            </form> -->

            <form class="search-form" (ngSubmit)="searchValue()">
                <input class="form-control name" [(ngModel)]="filters.search" [ngModelOptions]="{standalone: true}"
                    id="name" required type="text" placeholder="" />
                <button type="submit" [disabled]='!filters.search'
                    class=" btn btn-secondary btn-sm ml-2">Search</button>
                <button type="button" *ngIf="filters.search" (click)="clearValue()"
                    class=" btn btn-secondary btn-sm ml-2">Clear</button>
            </form>

            <button class="btn btn-primary" [routerLink]="['/newsletter/sendmail']">
                Send Mail to Active Recipient
            </button>


        </div>
        <!-- .card-header -->
        <div class="card-block">
            <div class="table-responsive">
                <!-- <table class="table table-striped" [svData]="data" #sv="svDataTable" [svRowsOnPage]="5"
            (svOnPageChange)="onPageChange($event)" svSortBy="title" svSortOrder="asc">
            <thead>
              <tr>
                <th width="50%">
                  <sv-default-sorter by="email">Email</sv-default-sorter>
                </th>
                <th width="20%">Status</th>
                <th width="30%">Created At</th>
            
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="itemsTotal == 0">
                <td colspan="7" class="emptytd">
                  <span class="iconq"><i class="fa fa-question"></i></span>
                  <span class="qtext">We couldn't find any data</span>
                </td>
              </tr>
              <tr *ngFor="let cat of sv.data">
                <td data-label="Name">{{ cat.email }}</td>
                <td data-label="Status">
                    <button (click)="changeStatus(cat)" class="btn" [ngClass]="{
                      'btn-success': cat.status == 'active',
                      'btn-danger': cat.status == 'deactive'
                    }" title="{{
                        cat.status == 'active' ? 'Active' : 'Deactive'
                    }}">
                      {{ cat.status == "active" ? "Active" : "Deactive" }}
                    </button>
                </td>
                <td data-label="createdAt">{{ cat.createdAt | date: "mediumDate" }}</td>
           
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <div class="pagination-section" *ngIf="itemsTotal > 0">
                    <div class="row-on-page">
                      <label class="label-control">Show</label>
                      &nbsp;
                      <select class="input-sm" name="itemsOnPage" [(ngModel)]="itemsOnPage" (change)="onRowsChange()">
                        <option [ngValue]="5">5</option>
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                      </select>
                      &nbsp;
                      <label class="label-control">entries</label>
                      &nbsp; &nbsp;
                      <span>Showing {{activePage * rowsOnPage - rowsOnPage + 1}} to
                        {{(activePage * rowsOnPage) < itemsTotal ? (activePage * rowsOnPage):itemsTotal }} of
                        {{itemsTotal}} entries</span>
                    </div>
                    <div class="text-right paginator">
                      <sv-bootstrap-paginator></sv-bootstrap-paginator>
                    </div>
                    <div style="clear: both;"></div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table> -->


                <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                    [rowHeight]="50" [scrollbarV]="false" [rows]="data" [columns]="columns" [limit]="10"
                    (page)="setPage($event)">

                    <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Email" prop="email">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Status" prop="status">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <button (click)="changeStatus(value, row.id)" class="btn" [ngClass]="{
                  'btn-success': value == 'active',
                  'btn-danger': value == 'deactive'
                }" title="{{
                  value == 'active' ? 'Active' : 'Inactive'
                }}">
                                {{ value == "active" ? "Active" : "Inactive" }}
                            </button>


                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Subscribed On" prop="createdAt">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value | date: "mediumDate" }}

                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </div>
    </div>

</main>