<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>View User</span>
        <button class="btn btn-secondary" routerLink="/users/users/{{activePage}}">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Role</label>
                    <p class="text">{{user?.role | titlecase}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Full Name</label>
                    <p class="text">{{user?.fullName}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Email</label>
                    <p class="text">{{user?.email}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Contact Number</label>
                    <p class="text">{{user?.mobileNo}}</p>
                </div>

            </div>
        </div>
    </div>
</main>