<!-- 
Front-End Design (pure css)
Ui Design
www.cupcom.com.br
-->
<ngx-spinner bdColor="#fff" size="" color="#fff">
    <img src="/assets/img/loader2.gif" class="loader-logo" width="100" />
</ngx-spinner>
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>

<main>
  <section class="container">
    <!-- login -->
    <div class="login">

    <div class="logo text-center">
      <img class="img-responsive logo-login" src="assets/img/logo.png">
    </div>

      <form [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <div class="form">
            <div class="form-row">
              
              <!-- <label class="form-label" for="input">Email</label> -->
              <input type="email"placeholder="Email"  formControlName="email"  class="form-text" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <span><i class="fa fa-user"></i></span>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email is invalid</div>
            </div>
            </div>
            <div class="form-row">
             
              <!-- <label class="form-label" for="input">Password</label> -->
              <input [type]="passwordType ? 'text' : 'password'" id="password" formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-text"
                            placeholder="Password" autocomplete="off" required="">
                        <span class="fa" [ngClass]="{
                  'fa-eye-slash': !passwordType,
                  'fa-eye': passwordType
                }" (click)="togglePassword()"></span>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div> 
            </div>
            <div class="form-row bottom">
              <div class="form-check d-inline-flex align-items-center">
                <input type="checkbox" formControlName="remember" id="remember" name="remember" (click)="markRemember()">
                <label for="remember" class="pl-2 mb-0 font-weight-medium">Remember me?</label>
              </div>
              
            </div>
            <div class="form-row button-login">
              <button class="btn btn-login mb-3">Sign in</button>
              <a [routerLink]="['/auth/forgot']" class="forgot">Forgot password?</a>
            </div>
            
          </div>
        </fieldset>
      </form>
    </div>


  </section>
</main>


