@import "../../../assets/scss/mixin";
.form-row.button-login {
  text-align: right !important;
  display: block;
}
img.img-responsive.logo-login {
  width: 100%;
  max-width: 10rem;
}

* {
    box-sizing: border-box;
  }
  a.forgot {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}
.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: -18px !important;
  font-size: 80%;
  color: #dc3545;
}
a.forgot:hover {
  cursor: pointer;
  opacity: 0.8;
}
  body {
    background: #f1f1f1;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  form,
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }
  
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    max-width: 1200px;
    width: 100%;
  }
  @media (max-width: 768px) {
    .container {
      flex-wrap: wrap;
    }
  }
  
  .btn {
    align-items: center;
    background: #4d61fc;
    background-color: $primaryColor;
    border-color: #367fa9;
    border-radius: 3px;
    border: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 8px 2rem;
    transition: .2s;
  }
  .btn:hover {
    background: #4d61fc;
    transform: translateY(-2px);
  }
  .btn .fas.fa-arrow-right {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 0 10px;
  }
  
  .register,
  .login {
    border-radius: 15px;
    box-shadow: 2px 5px 20px rgb(0 0 0 / 10%);
    height: auto;
    max-width: 400px;
    padding: 40px 15px;
    text-align: center;
    width: 100%;
  }
  .register .fas,
  .login .fas {
    color: #4d61fc;
    font-size: 35px;
    margin-bottom: 5px;
  }
  .register strong,
  .login strong {
    color: #000;
    display: block;
    font-size: 40px;
  }
  .register span,
  .login span {
    color: #2f2f2f;
  }
  .register .create-account,
  .login .create-account {
    border-top: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 30px;
  }
  .register .create-account strong,
  .login .create-account strong {
    font-size: 16px;
    margin-left: 5px;
    text-decoration: underline;
  }
  
  .register,
  .login {
    background: #fff;
  }
  .register .form,
  .login .form {
    margin-top: 30px;
    padding: 0 20px;
  }
  .register .form .form-row,
  .login .form .form-row {
    position: relative;
    text-align: left;
  }
  .register .form .form-row .fas,
  .login .form .form-row .fas {
    font-size: 15px;
    position: absolute;
    right: 10px;
    top: 30px;
  }
  .register .form .form-row.bottom,
  .login .form .form-row.bottom {
    display: flex;
    justify-content: space-between;
  }
 .forgot {
    color: $primaryColor;
  }
  .register .form .form-row.button-login,
  .login .form .form-row.button-login {
    margin-top: 20px;
  }
  .register .form .form-row.button-login .fas,
  .login .form .form-row.button-login .fas {
    position: static;
  }
  .form-check {
    position: relative;
    display: block;
    padding-left: 0rem !important;
}
input#remenber {
    position: absolute;
    top: 7px;
}
  
  .register .form .form-label,
  .login .form .form-label {
    color: #555;
    font-size: 12px;
  }
  .register .form-password,
  .register .form-text,
  .login .form-password,
  .login .form-text {
    border-radius: 2px;
    border: 0;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 40px 0 10px;
    width: 100%;
    background: white no-repeat;
    transition: 100ms all linear 0s;
    background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, #4d61fc 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  }
  i.fa.fa-user{
    position: absolute;
    right: 12px;
    bottom: 31px;
  }
  span.fa.fa-eye-slash {
    position: absolute;
    right: 0;
    bottom: 31px;
}
span.fa.fa-eye{
  position: absolute;
  right: 0;
  bottom: 31px;
}
.register .fa, .login .fa {
    color: $primaryColor;
}
  .register .form-password:focus,
  .register .form-text:focus,
  .login .form-password:focus,
  .login .form-text:focus {
    background-size: 100% 2px, 100% 1px;
    outline: none;
  }
  
 
  .register .fas,
  .register strong {
    color: #fff;
  }
  .register .form .form-label {
    color: #fff;
  }
  .register .form .form-row .fas {
    color: #4d61fc;
  }
  .register .form .form-row .button-login {
    margin-top: 20px;
  }
  .register .btn-login {
    background: #fff;
    color: #555;
  }
  .register .btn-login .fas.fa-arrow-right {
    color: #555;
  }

  main {
    background: #fff;
    position: absolute;
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    min-height: 100vh;
}
input.form-text {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px !important;
  border-left: 4px solid #659DBD !important;
}
input#password {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  border-left: 4px solid #659DBD;
}