<div class="main-pannel">

    <div class="tz-2 tz-2-admin">
        <div class="tz-2-com tz-2-main">
            <h4 class="bg-primary text-light">Dashboard</h4>

        </div>
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-6">

                    <div class="tz-2-com tz-2-main">

                        <div class="map-canvas">
                            <h5>Attendence Stats</h5>
                            <canvas id="canvas"></canvas>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="tz-2-com tz-2-main">
                        <div class="map-canvas">
                            <canvas id="pieChart"></canvas>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>