<main class="main-pannel">
    <h1 class="section-header">Payments</h1>

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="">

                <section class="search-form">
                    <input class="form-control name" [(ngModel)]="filters.search" id="name" required type="text"
                        placeholder="" />
                    <button [disabled]='!filters.search' (click)="searchValue()"
                        class=" btn btn-secondary btn-sm ml-2">Search</button>
                    <button *ngIf="filters.search" (click)="clearValue()"
                        class=" btn btn-secondary btn-sm ml-2">Clear</button>
                </section>

            </div>
        </div>

        <div class="content-section">
            <div class="content-body inner-container bg-white text-muted">
                <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                    [rowHeight]="50" [scrollbarV]="false" [rows]="payData" [columns]="columns" [limit]="10"
                    (page)="setPage($event)">

                    <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Transaction ID" prop="tID">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Amount ($)" prop="price">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value | currency:'$':'code' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Payment Status" prop="status">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Created At" prop="date">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value | date: "mediumDate" }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Receipt" prop="receipt">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <a class="text-secondary mr-3" href="{{ value }}" target="_blank">{{ value }}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Actions" sortable="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="action">
                                <a class="text-secondary mr-3" (click)="view(row.id)">
                                    View Payment
                                </a>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</main>