<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>View Banner</span>
        <button class="btn btn-secondary" [routerLink]="['/banner']">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label>Title</label>
                    <p class="text">{{banner?.title}}</p>
                </div>

                <div class="col-md-12 mb-3">
                    <label>Reference</label>
                    <p class="text">{{banner?.refrence}}</p>
                </div>

                <div class="col-md-12 mb-3">
                    <label>Description</label>
                    <p class="text" [innerHTML]="banner?.description"></p>
                </div>

                <div class="col-md-12">
                    <label for="nf-name">Image</label>
                    <div class="thumbnail-blog">
                        <a *ngIf="banner?.image" class="photo-div" data-toggle="modal" (click)="openModal(banner?.image)" data-target="#imageModal">
                            <img class="product-image" src="{{_host}}images/banner/{{banner?.image}}" />
                        </a>
                        <img src="/assets/img/placeholder.png" *ngIf="!banner?.image"
                            class="product-image" alt="product-image">
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>




<!-- Modal -->
<div class="modal fade" id="imageModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <i class="fa fa-times close1 text-danger" data-dismiss="modal" aria-label="Close"></i>
        <img src="{{_host}}images/blogs/{{popupImage}}" class="w-100">
      </div>
    </div>
</div>