<main class="main-pannel">
  <h1 class="section-header">Blogs</h1>

  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div class="">

        <form class="search-form" (ngSubmit)="searchValue()">
          <input class="form-control name" [(ngModel)]="filters.search" [ngModelOptions]="{standalone: true}" id="name"
            required type="text" placeholder="" />
          <button type="submit" [disabled]='!filters.search' class=" btn btn-secondary btn-sm ml-2">Search</button>
          <button type="button" *ngIf="filters.search" (click)="clearValue()"
            class=" btn btn-secondary btn-sm ml-2">Clear</button>
        </form>

      </div>

      <div class="">
        <button class="btn btn-primary add" (click)="add()">
          Add
        </button>
      </div>
    </div>
    <ul class="nav nav-tabs mt-2 pl-3" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{active: actionType==='active'}" id="home-tab" data-toggle="tab"
          (click)="filters.isDeleted=false;getBlogs()" href="#home" role="tab" aria-controls="home"
          aria-selected="true">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{active: actionType==='deleted'}" id="profile-tab" data-toggle="tab"
          (click)="filters.isDeleted=true;getBlogs()" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">Deleted
          Items</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade " [ngClass]="{active: actionType==='active',show: actionType==='active'}"  id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="content-section">
          <div class="content-body inner-container bg-white text-muted">
            <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="50" [scrollbarV]="false" [rows]="blogsData" [columns]="columns" [limit]="10"
              (page)="setPage($event)" [offset]="page -1 ">

              <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
              </ngx-datatable-column>
              <ngx-datatable-column name="Title" prop="title">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <a href="javascript:void(0);" (click)="view(row.id,'active')" title="View Blog">{{value}}</a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Category" prop="categoryID">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Created At" prop="createdAt">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | date: "mediumDate" }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status" prop="status">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button (click)="changeStatus(value, row.id)" class="btn" [ngClass]="{
                  'btn-success': value == 'active',
                  'btn-danger': value == 'deactive'
                }" title="{{
                  value == 'active' ? 'Active' : 'Inactive'
                }}">
                    {{ value == "active" ? "Active" : "Deactive" }}
                  </button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" sortable="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="action">
                    <button class="btn btn-secondary mr-3" (click)="edit(row.id,'active')">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger mr-3" (click)="remove(row.id)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" [ngClass]="{active: actionType==='deleted',show: actionType==='deleted'}"   id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="content-section">
          <div class="content-body inner-container bg-white text-muted">
            <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="50" [scrollbarV]="false" [rows]="blogsData" [columns]="columns" [limit]="10"
              (page)="setPage($event)" [offset]="page -1 ">

              <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
              </ngx-datatable-column>
              <ngx-datatable-column name="Title" prop="title">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <a href="javascript:void(0);" (click)="view(row.id,'deleted')" title="View Blog">{{value}}</a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Category" prop="categoryID">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Deleted By" prop="deletedBy">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{value.fullName}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Deleted At" prop="deletedAt">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | date: "mediumDate" }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" sortable="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="action">
                    <button class="btn btn-danger mr-3" (click)="removePermanent(row.id)">
                      Permanent Delete
                      <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
                    </button>
                    <button class="btn btn-success mr-3" (click)="moveBack(row.id)">
                      <!-- <i class="fa fa-angle-double-left" aria-hidden="true"></i> -->
                      Rollback
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>