<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>{{ contentID ? "Edit" : "Add" }} Content</span>
        <button class="btn btn-secondary" [routerLink]="['/content']">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <form [formGroup]="contentForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="col-md-12 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row addupdateform">
                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Title</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" maxlength="300"
                                            formControlName="title" class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" required="">
                                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                            <div *ngIf="f.title.errors.required">Title is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Meta Title</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" maxlength="150"
                                            formControlName="meta_title" class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.meta_title.errors }" required="">
                                        <div *ngIf="submitted && f.meta_title.errors" class="invalid-feedback">
                                            <div *ngIf="f.meta_title.errors.required">Meta title is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Meta Description</label>
                                    <section>
                                        <textarea rows="5" cols="100" id="meta_description"
                                            formControlName="meta_description" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.meta_description.errors }"
                                            maxlength="200" required="">
                                    </textarea>
                                        <div *ngIf="submitted && f.meta_description.errors" class="invalid-feedback">
                                            <div *ngIf="f.meta_description.errors.required">Meta description is required
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group has-required">
                                    <label for="nf-description">Description</label>
                                    <section>
                                        <ckeditor name="description" id="description" formControlName="description"
                                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required="">
                                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [icon]="'save.png'"
                                                [label]="'Save Document'" [toolbar]="'clipboard,1'">
                                            </ckbutton>
                                        </ckeditor>
                                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback d-block">
                                            <div *ngIf="f.description.errors.required">Description is required.
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary">{{ contentID ? "Update" : "Add" }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</main>