<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>Edit Profile</span>
        <button class="btn btn-secondary" [routerLink]="['/profile']">
            <i class="fa fa-arrow-left" title="Back"></i>
        </button>
    </h1>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="col-md-12 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row addupdateform">
                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">First Name</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" formControlName="firstName"
                                            class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required="">
                                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.firstName.errors.required">First name is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Last Name</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" formControlName="lastName"
                                            class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required="">
                                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                            <div *ngIf="f.lastName.errors.required">Last name is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group has-required">
                                    <label for="nf-name">Contact Number</label>
                                    <section>
                                        <input type="number" autocomplete="off" placeholder="" name="mobileNo"
                                            id="mobileNo" formControlName="mobileNo"
                                            pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" required="">
                                        <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                                            <div *ngIf="f.mobileNo.errors.required">Contact is required</div>
                                            <div *ngIf="f.mobileNo.errors?.min">
                                                Mobile must be at least 10 digits.
                                            </div>
                                            <div *ngIf="f.mobileNo.errors?.max">
                                                Mobile cannot exceed above 12 digits.
                                            </div>
                                            <div *ngIf="f.mobileNo.errors?.pattern">
                                                Invalid Mobile number.
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Email</label>
                                    <section>
                                        <input type="email" autocomplete="off" placeholder="Ex. xyz@gmail.com"
                                            formControlName="email" class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" disabled>
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>


                            <div class="col-sm-12 mb-3">

                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="nf-image">Image</label>
                                    <section>
                                        <input #myInput type="file" name="file-7[]" id="file-7" class="d-none"
                                            data-multiple-caption="{count} files selected" imageUpload
                                            (imageSelected)="uploadImage($event)"
                                            accept="image/jpg, image/jpeg, image/png" />
                                        <label class="btn btn-secondary" for="file-7">
                                            <i class="fa fa-photo mr-2"></i>
                                            {{userImage ? 'Change' : 'Upload'}} image
                                        </label>


                                        <div class="mt-2" *ngIf="userImage">
                                            <div class="thumbnail pointer-custom">
                                                <img src="{{_host}}images/users/{{userImage}}">
                                                <i class="close fa fa-times" (click)="removeImage()"></i>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>


                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</main>