<ngx-spinner bdColor="#fff" size="" color="#fff">
    <p style="font-size: 20px; color: white" class="loaderbg">
        <img src="assets/img/logo.png" class="loader-logo" width="100" />
    </p>
</ngx-spinner>


<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>{{ categoryID ? "Edit" : "Add" }} Category</span>
        <button class="btn btn-secondary" [routerLink]="['/category']">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="col-md-12 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row addupdateform">
                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Name</label>
                                    <section>
                                        <input type="text" autocomplete="off" formControlName="name"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required="">
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Name is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group  has-required" *ngIf="ParentCategory">
                                    <label for="nf-name">Parent Category</label>
                                    <section>
                                        <select class="form-control" id="parentCategory"
                                            formControlName="parentCategory"
                                            (change)="getSubParent($event.target.value)"
                                            [ngClass]="{ 'is-invalid': submitted && f.parentCategory.errors }">
                                            <option value="">--Select Category--</option>
                                            <option *ngFor="let pcat of parentCats" value="{{pcat.id}}">{{pcat.name}}
                                            </option>
                                        </select>

                                        <!-- <div *ngIf="submitted && f.parent_id.errors" class="invalid-feedback">
                                            <div *ngIf="f.parent_id.errors.required">Parent category is required</div>
                                        </div> -->
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group  has-required" *ngIf="SubParentCategory">
                                    <label for="nf-name">Sub-Parent Category</label>
                                    <section>
                                        <select class="form-control" id="subCategory" formControlName="subCategory"
                                            [ngClass]="{ 'is-invalid': submitted && f.subCategory.errors }">
                                            <option value="" disabled>--Select Category--</option>
                                            <option *ngFor="let subPcats of subParentCats" value="{{subPcats.id}}">
                                                {{subPcats.name}}
                                            </option>
                                        </select>

                                        <!-- <div *ngIf="submitted && f.sub_parent_id.errors" class="invalid-feedback">
                                            <div *ngIf="f.sub_parent_id.errors.required">Sub-Parent category is required</div>
                                        </div> -->
                                    </section>
                                </div>
                            </div>




                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="nf-image">Upload Image</label>
                                    <section>
                                        <input #myInput type="file" name="file-7[]" id="file-7" class="d-none"
                                            data-multiple-caption="{count} files selected" imageUpload
                                            (imageSelected)="uploadImage($event)"
                                            accept="image/jpg, image/jpeg, image/png" />
                                        <label class="btn btn-secondary" for="file-7">
                                            <i class="fa fa-photo mr-2"></i>
                                            {{catImage ? 'Change' : 'Select'}}
                                        </label>

                                        <div class="mt-2" *ngIf="catImage">
                                            <div class="thumbnail pointer-custom">
                                                <img src="{{_host}}images/category/{{catImage}}">
                                                <i class="close fa fa-times" (click)="removeImage(catImage)"></i>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary">{{ categoryID ? "Update" : "Add" }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</main>