@import "../../../assets/scss/mixin";

.form-group{
    >label{
        width: 180px !important;
    }

    >section{
        width:calc(100% - 115px);
    }
}

.type-dropdown{
    max-width: 100%;
    a{
        overflow-wrap: break-word;
        white-space: initial;
    }

    .dropdown-toggle{

        span{
        width: calc(100% - 15px);
        display: inline-block;
        vertical-align: middle;
        }
        &::after{
            float: right;
            margin-top: 7px;
        }
    }
}


.dropdown-item.active, .dropdown-item:active{
    background-color: $primaryColor;
}

