 

<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>Feedback Reply</span>

        <button *ngIf="pageNo" class="btn btn-secondary" routerLink="/feedback/feedback/{{pageNo}}">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
        <button  *ngIf="!pageNo" class="btn btn-secondary"  routerLink ="/feedback">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

     

            <div class="col-md-12 px-0">
                <div class="card">
                    <div class="card-body">
                        <form class="form-row addupdateform" [formGroup]="replyForm" (ngSubmit)="onSubmit()">
                            <div class="col-sm-12">
                                <div class="form-group  has-required">
                                    <label>Email</label> 

                                    <section>
                                       <input type="text"  class="form-control" disabled [ngClass]="{ 'is-invalid': submitted && f.email.errors }"   formControlName="email" >
                                       <div *ngIf="submitted  && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                    </div> 
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group  has-required">
                                    <label>Message</label> 

                                <section>
                                       <textarea class="form-control" formControlName="message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }" placeholder="Message"></textarea>
                                       <div *ngIf="submitted  && f.message.errors" class="invalid-feedback">
                                        <div *ngIf="f.message.errors.required">Message is required</div>
                                    </div> 
                                </section>
                                </div>
                            </div>

                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
 
   
</main>