<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>Send Mail to Active Recipient</span>
        <button class="btn btn-secondary" routerLink="/newsletter">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>

        <!-- <button *ngIf="pageNo" class="btn btn-secondary" routerLink="/newsletter">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
        <button *ngIf="!pageNo" class="btn btn-secondary" routerLink="/newsletter">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button> -->
    </h1>



    <div class="col-md-12 px-0">
        <div class="card">
            <div class="card-body">
                <form class="form-row addupdateform" [formGroup]="emailForm" (ngSubmit)="save()">

                    <div class="col-sm-12">
                        <div class="form-group  has-required">
                            <label>Subject</label>
                            <section>
                                <input type="text" class="form-control" formControlName="subject" name="subject">
                                <div *ngIf="submitted && f.subject.errors" class="invalid-feedback d-block">
                                    <div *ngIf="f.subject.errors.required">Subject is required</div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group  has-required">
                            <label>Message</label>
                            <section>
                                <textarea class="form-control" formControlName="description"
                                    name="description"></textarea>
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback d-block">
                                    <div *ngIf="f.description.errors.required">Message is required</div>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-secondary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</main>