
.form__input{
  position: relative;
  .fa.fa-eye-slash, .fa.fa-eye{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: auto;
  }
}

  .invalid-feedback{
    text-align: left;
  }

  .container-center {
    position: absolute;
    left: 50%;
    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: transparent;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    bottom: 50%;
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
  }

  .main-bg {
    background: #F7F7F7 !important;
    height: 100vh;
}