<ngx-spinner bdColor="#fff" size="" color="#fff">
    <img src="/assets/img/loader2.gif" class="loader-logo" width="100" />
</ngx-spinner>
<div class="main-bg">
    <div class="container-center">
        <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()" class="form__container">

            <h2 class="text-center mb-3">Reset password!</h2>
            <p class="text-center">You can also use the previous password for login as we sent to you email</p>

            <div class="form__input mb-3">
                <input type="text" formControlName="code" name="code"
                    [ngClass]="{ 'is-invalid': submitted && f.code.errors }" class="form-control" placeholder="Code">
                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                    <div *ngIf="f.code.errors.required">Code is required</div>
                </div>
            </div>
            <div class="form__input password mb-3">
                <input [type]="newPassTextType ? 'text' : 'password'" formControlName="newPassword" name="newPassword"
                    [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" class="form-control"
                    placeholder="New password *">
                <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.errors.required">Password is required</div>
                    <div *ngIf="f.newPassword.errors.minlength">
                        Password must be at least 5 characters long.
                    </div>
                </div>
                <span class="fa" [ngClass]="{
            'fa-eye-slash': !newPassTextType,
            'fa-eye': newPassTextType
          }" (click)="toggleNewPassword()"></span>
            </div>
            <div class="form__input password mb-3">
                <input [type]="cnfmPassTextType ? 'text' : 'password'" class="form-control"
                    formControlName="confirmPassword" name="confirmPassword"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    placeholder="Confirm password *">
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                    <div *ngIf="f.confirmPassword.errors.confirmMatch">Confirm password must match with new password.
                    </div>
                </div>
                <span class="fa" [ngClass]="{
            'fa-eye-slash': !cnfmPassTextType,
            'fa-eye': cnfmPassTextType
          }" (click)="toggleCnfmPassword()"></span>
            </div>

            <div class="form__input text-right">
                <input type="submit" class="btn btn-primary" name="Submit" value="Submit">
            </div>
        </form>
    </div>
</div>