<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>View Settings</span>
    </h1>

    <div class="card">
        <div class="card-body">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="commission-tab" [ngClass]="{'active': tab == 'commission'}" (click)="tab = 'commission'" data-toggle="tab" href="#commission" role="tab">Commission Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="gst-tab" [ngClass]="{'active': tab == 'gst'}" (click)="tab = 'gst'" data-toggle="tab" href="#gst" role="tab">GST Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="delivery-tab" [ngClass]="{'active': tab == 'delivery'}"  (click)="tab = 'delivery'" data-toggle="tab" href="#delivery" role="tab">Delivery Charges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="delivery-tabs" [ngClass]="{'active': tab == 'discount'}" (click)="tab = 'discount'" data-toggle="tab" href="#deliverys" role="tab">User Discount</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab == 'banner'}" (click)="tab = 'banner'">Banner Settings</a>
                    </li> -->
                </ul>

                <div class="card-body viewmode px-0 tabs">

                <div class="tab-content" id="myTabContent">

                    <!-- Tab panes --> 
                    <div class="tab-pane" [ngClass]="{'active': tab == 'commission'}" id="commission" role="tabpanel" aria-labelledby="commission-tab">
                        <div class="col-sm-12 px-0 text-right w-100">
                            <button type="button"
                                class="btn btn-sm btn-dark positiontopright"
                                (click)="edit('commission')" 
                                 title="Edit Settings"><i class="fa fa-edit"></i></button>
                        </div>

                        
                                    <div class="form-group mt-3">
                                        <label for="nf-name">Commission (%)</label>
                                        <p>{{setting.commission ? setting.commission : '-'}}
                                        </p>
                                    </div>
                                
                    </div>

                    <div class="tab-pane" [ngClass]="{'active': tab == 'gst'}" id="gst" role="tabpanel" aria-labelledby="gst-tab">
                            <div class="col-sm-12 px-0 text-right w-100">
                                <button type="button"
                                    class="btn btn-sm btn-dark positiontopright"
                                    (click)="edit('gst')" title="Edit Settings"><i class="fa fa-edit"></i></button>
                            </div>
    
                            
                                        <div class="form-group mt-3">
                                            <label for="nf-name">GST (%)</label>
                                            <p>{{setting.gst ? setting.gst : '-'}}
                                            </p>
                                        </div>
                                    
                        </div>


                     <div class="tab-pane" [ngClass]="{'active': tab == 'delivery'}" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
                            <div class="col-sm-12 px-0 text-right w-100">
                                <button type="button"
                                    class="btn btn-sm btn-dark positiontopright"
                                    (click)="edit('delivery')" title="Edit Settings"><i class="fa fa-edit"></i></button>
                            </div>
    
                            
                                        <div class="form-group mt-3">
                                        <label for="nf-name">Delivery Charges ($)</label>
                                        <p>{{setting.delivery_charges ? setting.delivery_charges : '-'}}
                                        </p>
                                        </div>
                                    
                        </div>
                        <div class="tab-pane" [ngClass]="{'active': tab == 'discount'}" id="deliverys" role="tabpanel" aria-labelledby="delivery-tabs">
                                <div class="col-sm-12 px-0 text-right w-100">
                                <button type="button"
                                class="btn btn-sm btn-dark positiontopright"
                                (click)="edit('discount')" title="Edit Settings"><i class="fa fa-edit"></i></button>
                              </div>
                                    <div class="form-group mt-3">
                                        <label for="nf-name">Discount (%)</label>
                                        <p>{{setting.discount ? setting.discount : '-'}}
                                        </p>
                                    </div>
                            </div>


                            <div class="tab-pane" [ngClass]="{'active': tab == 'banner'}">
                                <div class="col-sm-12 px-0 text-right w-100">
                                <button type="button"
                                class="btn btn-sm btn-dark positiontopright"
                                (click)="edit('banner')" title="Edit Settings"><i class="fa fa-edit"></i></button>
                              </div>
                                    <div class="form-group mt-3">
                                    
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <label>Title</label>
                                                <div class="text">{{setting.bannerTitle ? setting.bannerTitle : '-'}}</div>
                                            </div>
                                            <div class="col-md=12 mb-3">
                                                <label>Description</label>

                                               <div class="text" [innerHTML]="setting?.bannerDiscription ? setting?.bannerDiscription : '-'"></div>
                                                
                                            </div>

                                            <div class="col-md-12 mb-3">
                                                <label>Images</label>

                                                <div class="mt-2" *ngIf="setting.bannerImages">
                                                        <div class="thumbnail img" *ngFor="let img of setting?.bannerImages">
                                                            <img src="{{_host}}images/banner/{{img}}">
                                                            <!-- <i class="close fa fa-times" (click)="removeImage()"></i> -->
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                   
                                    </div>
                            </div>

                    </div>
                 
                </div>
           
        </div>
    </div>
</main>