
@import "../../../assets/scss/mixin";

.form-logo{
max-width: 110px;
}

.container-center {
    position: absolute;
    left: 50%;
    width: 85%;
    height: auto;
    background-color: transparent;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    bottom: 50%;
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
  }

  .main-bg {
    background: #F7F7F7 !important;
    height: 100vh;
}
  h2, img {
    color: #484747;
    font-weight: 400;
    text-align: center;
  }

  h4{
    text-align: center;
    color: black;
    font-size: 24px;
    font-style: normal;
    line-height: 130%;
    opacity: .8;
  }
  a.mt-2 {
    position: relative;
    top: 7px;
    font-size: 16px;
    font-weight: 600;
}
  form {
    width: 100%;
    overflow: hidden;
    background-color: #FEFEFE;
    padding: 21px 13px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 34px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 34px rgba(0, 0, 0, 0.1);
  }
  
  .formgroup {
    position: relative;
    width: 100%;
    display: block;
    margin: 1em 0;
    font-size: 1em;

    >i{
      position: absolute;
      top:12px;
      right: 10px;
    }
  }
  .formgroup input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #888888;
    padding: 8px 0;
    padding-right: 30px;
    font-size: inherit !important;
    margin-bottom: 13px;
    outline: none;
    opacity: 0.7;
    font-weight: 600;
  }
  .formgroup input:focus {
    opacity: 1;
    border-bottom: 2px solid $primaryColor;
    color: $textColor;
  }
  .formgroup label {
    position: absolute;
    font-size: 0.8em;
    top: -1em;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.7;
    color: #888888;
    text-transform: uppercase;
  }
  .formgroup span {
    position: absolute;
    top: -1em;
    left: -500px;
    opacity: 0;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .formgroup input:focus + label {
    left: 500px;
    opacity: 0;
  }
  .formgroup input:focus ~ span {
    left: 0;
    opacity: 1;
  }
  
  .forgot {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin-top: 21px;
    opacity: 0.8;
  }
  
  #login-btn {
    border: none;
    color: #FEFEFE;
    font-size: 1em;
    padding: 9px !important;
    font-weight: 600;
    width: 100%;
    max-width: 32%;
    float: right;
    border-radius: 0px;
    background: $primaryColor;
    background-size: 100%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .social {
    margin-top: 1.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social button {
    width: 50%;
    margin: 0 8px;
    padding: 10px 0;
    font-size: 0.9em;
    border: none;
    border-radius: 34px;
    -webkit-box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  
  p {
    color: white;
    text-align: center;
  }
  p a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
  }
  .container-center {
    position: absolute;
    top: 20px;
}
  /***** For Tablets *******/
  @media screen and (min-width: 480px) {
    .container-center {
      width: 70%;
    }
  
    #login-btn {
      padding: 0.8em 0;
      font-size: 1.2em;
    }
  }
  /***** For Desktop Monitors *******/
  @media screen and (min-width: 768px) {
    .container-center {
      width: 500px;
    }
  }
  