<ngx-spinner bdColor="#fff" size="" color="#fff">
  <img src="/assets/img/loader2.gif" class="loader-logo" width="100" />
</ngx-spinner>
<div class="main-bg">
  <div class="container-center">

    <!-- <h2>User Login System</h2> -->
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-3">
        <img class="form-logo" src="assets/img/logo.png">
      </div>
      <h4>
        Forgot Password
      </h4>
      <div class="formgroup">
        <input type="text" name="email" formControlName="email" placeholder="Email" class="mb-0"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <!-- <span>enter your email</span> -->
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback mt-2 d-block">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email is invalid</div>
        </div>
      </div>


      <div class="text-right">
        <a class="btn btn-secondary mr-2 rounded-0 px-3" [routerLink]="['/auth/admin/login']">Login</a>
        <button class="btn btn-primary rounded-0 px-3">Send</button>

      </div>


    </form>
  </div>
</div>