<main class="main-pannel">
  <h1 class="section-header d-flex justify-content-between">
    <span>View Blog</span>
    <button class="btn btn-secondary" routerLink="/blogs/blogs/{{pageNo}}">
      <i class="fa fa-arrow-left" title="Back to list"></i>
    </button>
  </h1>

  <div class="card">
    <div class="card-body">
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label>Title</label>
          <p class="text">{{blog?.title}}</p>
        </div>

        <div class="col-md-12 mb-3">
          <label>Category</label>
          <p class="text">{{blog?.categoryID?.name}}</p>
        </div>

        <div class="col-md-12 mb-3">
          <label>Description</label>
          <p class="text" [innerHTML]="blog?.description"></p>
        </div>

        <div class="col-md-12">
          <label for="nf-name">Image</label>
          <div class="thumbnail-blog">
            <a *ngIf="blog?.image" class="photo-div" data-toggle="modal" (click)="openModal(blog?.image)"
              data-target="#imageModal">
              <img class="product-image" src="{{_host}}images/blogs/{{blog?.image}}" />
            </a>
            <img src="/assets/img/placeholder.png" *ngIf="!blog?.image" class="product-image" alt="product-image">
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="card pt-0">
    <h5 class="px-3 pt-3 mb-3">Comments</h5>

    <div class="content-body inner-container bg-white text-muted">
      <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="50" [scrollbarV]="false" [rows]="comments" [columns]="columns" [limit]="10" [offset]="page -1 ">

        <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
        </ngx-datatable-column>
        <ngx-datatable-column name="Comment" prop="comment">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a (click)="view(row.id)">{{value}}</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email" prop="addedBy">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value.email? value.email: '--'}}
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Message" prop="message">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="Actions" sortable="false">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="action">
              <!-- <button class="btn btn-secondary mr-2" (click)="edit(row.id,'active')">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </button> -->
              <button class="btn btn-danger mr-2" (click)="remove(row.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>

              <!-- <button class="btn btn-secondary" (click)="reply(row.id,'active')">
                          Reply
                        </button> -->
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</main>




<!-- Modal -->
<div class="modal fade" id="imageModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <i class="fa fa-times close1 text-danger" data-dismiss="modal" aria-label="Close"></i>
      <img src="{{_host}}images/blogs/{{popupImage}}" class="w-100">
    </div>
  </div>
</div>