label {
    font-weight: 500;
}

.text{
font-size: 14px;
padding: 10px;
background-color: #f1f1f1;
border-radius: 4px;
line-height: normal;
margin-bottom: 0;
}

.thumbnail-blog{
    img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: top center;
        border-radius: 3px;
    }
}


#imageModal{
.close1 {
    position: absolute;
    font-size: 22px;
    cursor: pointer;
    top: -19px;
    right: -20px;
}
}