<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>View Payment</span>
        <button class="btn btn-secondary" [routerLink]="['/payments']">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <div class="card">
        <div class="card-body">
            <div class="text-right mb-3">
            <button id="printInvoice" (click)="generateInvoice()" class="btn btn-info"><i class="fa fa-print"></i>
                Invoice</button>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Transaction ID</label>
                    <p class="text">{{pay?.transaction_id}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Payment Method</label>
                    <p class="text">{{pay?.detail?.source.object}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Card ID</label>
                    <p class="text">{{pay?.detail?.source.id}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Payment Status</label>
                    <p class="text">{{pay?.payment_status}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Amount</label>
                    <p class="text">$ {{pay?.price}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Receipt</label>
                    <p class="text"><a class="text-secondary mr-3" href="{{pay?.detail?.receipt_url}}"
                            target="_blank">{{pay?.detail?.receipt_url}}</a></p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Customer Name</label>
                    <p class="text">{{pay?.addedBy?.fullName}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Customer Email</label>
                    <p class="text">{{pay?.addedBy?.email}}</p>
                </div>

            </div>
        </div>
    </div>
    <invoice *ngIf="invoice" [pay]="pay"></invoice>
</main>
