<main class="main-pannel">
  <h1 class="section-header">Roles & Permissions</h1>

  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <!-- <div class="">

        <section class="search-form">
          <input class="form-control name" [(ngModel)]="filters.search" id="name" required type="text" placeholder="" />
          <button [disabled]='!filters.search' (click)="searchValue()"
            class=" btn btn-secondary btn-sm ml-2">Search</button>
          <button *ngIf="filters.search" (click)="clearValue()" class=" btn btn-secondary btn-sm ml-2">Clear</button>
        </section>

      </div> -->
      <div class="">

        <form class="search-form" (ngSubmit)="searchValue()">
          <input class="form-control name" [(ngModel)]="filters.search" [ngModelOptions]="{standalone: true}" id="name"
            required type="text" placeholder="" />
          <button type="submit" [disabled]='!filters.search' class=" btn btn-secondary btn-sm ml-2">Search</button>
          <button type="button" *ngIf="filters.search" (click)="clearValue()"
            class=" btn btn-secondary btn-sm ml-2">Clear</button>
        </form>

      </div>

      <!-- <div class="text-right">
        <button class="btn btn-secondary add" [routerLink]="['/rolesAndPermissions/add']">
          Add
        </button>
      </div> -->
    </div>
    <ul class="nav nav-tabs mt-2 pl-3" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" (click)="getRoles()" id="home-tab" data-toggle="tab" href="#home" role="tab"
          aria-controls="home" aria-selected="true">Active</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" id="profile-tab" (click)="filters.isDeleted=true;getRoles()" data-toggle="tab"
          href="#profile" role="tab" aria-controls="profile" aria-selected="false">Deleted Items</a>
      </li> -->
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="content-section">
          <div class="content-body inner-container bg-white text-muted">
            <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="50" [scrollbarV]="false" [rows]="roleData" [columns]="columns" [limit]="10"
              (page)="setPage($event)" [offset]="page -1 ">

              <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
              </ngx-datatable-column>
              <ngx-datatable-column name="Name" prop="name">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Permissions" prop="permission">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value[0]?.label}} {{value[1]?.label}} {{value[2]?.label}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" sortable="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="action">
                    <button class="btn btn-secondary mr-3" (click)="edit(row.id)">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                    <!-- <button class="btn btn-danger mr-3" (click)="remove(row.id)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button> -->
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

          </div>
        </div>
      </div>
      <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="content-section">
          <div class="content-body inner-container bg-white text-muted">
            <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="50" [scrollbarV]="false" [rows]="roleData" [columns]="columns" [limit]="10"
              (page)="setPage($event)" [offset]="page -1 ">

              <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
              </ngx-datatable-column>
              <ngx-datatable-column name="Name" prop="name">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Permissions" prop="permission">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value[0]?.label}} {{value[1]?.label}} {{value[2]?.label}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Deleted By" prop="deletedBy">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{value.fullName}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Deleted At" prop="deletedAt">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | date: "mediumDate" }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Actions" sortable="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div class="action">
                    <button class="btn btn-danger mr-3" (click)="removePermanent(row.id)">
                      Permanent Delete
                    </button>
                    <button class="btn btn-success mr-3" (click)="moveBack(row.id)">
                      Rollback
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

          </div>
        </div>
      </div> -->
    </div>
  </div>
</main>