<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>{{ faqID ? "Edit" : "Add" }} FAQ</span>
       
        <button *ngIf="pageNo" class="btn btn-secondary" routerLink="/faq/faq/{{pageNo}}"> 
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
        <button *ngIf="!pageNo" class="btn btn-secondary" routerLink="/faq/"> 
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <form [formGroup]="faqForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="col-md-12 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row addupdateform">

                            <div class="col-sm-12">
                                <div class="form-group has-required">
                                    <label for="nf-description">Question</label>
                                    <section>
                                        <input type="text" name="question" id="question" autocomplete="off"
                                            formControlName="question" class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.question.errors }" required="">
                                        <!-- <ckeditor name="question" id="question" formControlName="question"
                                            [ngClass]="{ 'is-invalid': submitted && f.question.errors }" required="">
                                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [icon]="'save.png'"
                                                [label]="'Save Document'" [toolbar]="'clipboard,1'">
                                            </ckbutton>
                                        </ckeditor> -->
                                        <div *ngIf="submitted && f.question.errors" class="invalid-feedback d-block">
                                            <div *ngIf="f.question.errors.required">Question is required.
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group has-required">
                                    <label for="nf-description">Answer</label>
                                    <section>
                                        <input name="answer" id="answer" type="text" autocomplete="off"
                                            formControlName="answer" class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.answer.errors }" required="">
                                        <!-- <ckeditor name="answer" id="answer" formControlName="answer"
                                            [ngClass]="{ 'is-invalid': submitted && f.answer.errors }" required="">
                                            <ckbutton [name]="'saveButton'" [command]="'saveCmd'" [icon]="'save.png'"
                                                [label]="'Save Document'" [toolbar]="'clipboard,1'">
                                            </ckbutton>
                                        </ckeditor> -->
                                        <div *ngIf="submitted && f.answer.errors" class="invalid-feedback d-block">
                                            <div *ngIf="f.answer.errors.required">Answer is required.
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary">{{ faqID ? "Update" : "Add" }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</main>