<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>My Profile</span>
        <button class="btn btn-secondary" (click)="edit()">
            Edit Profile
        </button>
    </h1>

    <div class="card">
        <div class="card-body">
            <div class="form-row">

                <div class="col-md-6 mb-3">
                    <label>First Name</label>
                    <p class="text">{{user.firstName}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Last Name</label>
                    <p class="text">{{user.lastName}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Email</label>
                    <p class="text">{{user.email}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Contact</label>
                    <p class="text">{{user.mobileNo}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Role</label>
                    <p class="text">{{user.role}}</p>
                </div>

            </div>
        </div>
    </div>
</main>