<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>{{ userID ? "Edit" : "Add" }} User</span>
        <button *ngIf="pageNo" class="btn btn-secondary" routerLink="/users/users/{{pageNo}}"> 
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
        <button *ngIf="!pageNo" class="btn btn-secondary" routerLink="/users/"> 
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="col-md-12 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row addupdateform">
                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">First Name</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" formControlName="firstName"
                                            class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required="">
                                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.firstName.errors.required">First name is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Last Name</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" formControlName="lastName"
                                            class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required="">
                                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                            <div *ngIf="f.lastName.errors.required">Last name is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Email</label>
                                    <section>
                                        <input type="email" autocomplete="off" placeholder="Ex. xyz@gmail.com"
                                            formControlName="email" class="form-text" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required="">
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Contact</label>
                                    <section>
                                        <input type="number" autocomplete="off" placeholder="" name="mobileNo"
                                            id="mobileNo" formControlName="mobileNo"
                                            pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" required="">
                                        <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                                            <div *ngIf="f.mobileNo.errors.required">Contact is required</div>
                                            <div *ngIf="f.mobileNo.errors?.min">
                                                Mobile must be at least 10 digits.
                                            </div>
                                            <div *ngIf="f.mobileNo.errors?.max">
                                                Mobile cannot exceed above 12 digits.
                                            </div>
                                            <div *ngIf="f.mobileNo.errors?.pattern">
                                                Invalid Mobile number.
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Role</label>
                                    <section>
                                        <select class="form-control" id="role" formControlName="role"
                                            [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                                            <option value="">--Select User Role--</option>
                                            <option *ngFor="let data of roleData" value="{{data.name}}">{{data.name}}
                                        </select>
                                        <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                            <div *ngIf="f.role.errors.required">Role is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary">{{ userID ? "Update" : "Add" }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</main>