<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>{{ categoryID ? "Edit" : "Add" }} Category Type</span>

        <button class="btn btn-secondary" [routerLink]="['/categoryType']">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <form [formGroup]="catTypeForm" (ngSubmit)="onSubmit()">
        <fieldset>

            <div class="col-md-6 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row addupdateform">
                            <div class="col-sm-12">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Name</label>
                                    <section>
                                        <input type="text" autocomplete="off" formControlName="name" class="form-text"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required="">
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Name is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary">{{ categoryID ? "Update" : "Add" }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</main>