<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>View Content</span>
        <button class="btn btn-secondary" [routerLink]="['/content']">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <div class="card">
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Title</label>
                    <p class="text">{{content?.title}}</p>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Meta Title</label>
                    <p class="text">{{content?.meta_title}}</p>
                </div>

                <div class="col-md-12 mb-3">
                    <label>Meta Description</label>
                    <p class="text" [innerHTML]="content?.meta_description"></p>
                </div>

                <div class="col-md-12 mb-3">
                    <label>Description</label>
                    <p class="text" [innerHTML]="content?.description"></p>
                </div>

            </div>
        </div>
    </div>
</main>
