<div style="background: white" id="invoice">

    <div class="invoice overflow-auto;">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <a target="_blank" href="https://lobianijs.com">
                            <img src="assets/img/logo.png" data-holder-rendered="true" style="width: 160px;" />
                        </a>
                    </div>
                    <div class="col company-details">
                        <h2><strong>Tax Invoice/Bill of Supply/Cash Memo</strong></h2>
                        <p>(Original for Recipient)</p>
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to" style="width:50%;float: left;">
                        <div class="invoi-title">Sold By:</div>
                        <p style="width: 215px;font-size: 16px;line-height: 25px;">EmployeeTimeSheet.com</p>
                    </div>
                    <div class="col invoice-details" style="width:50%;float: left;">
                        <div class="invoi-title">Billing Address:</div>
                        <p style="font-size: 16px;line-height: 25px;width: 215px;float: right;">
                            {{pay.billingDetail['fullName']}}<br />
                            {{pay.billingDetail['address1']}}<br />
                            {{pay.billingDetail['city']}}, {{pay.billingDetail['pincode']}}<br />
                            {{pay.billingDetail['state']}}<br />
                            <b>Contact:</b> {{pay.billingDetail['phone']}}
                        </p>
                    </div>
                </div>
                <div class="row contacts">
                    <div class="col invoice-to" style="width:50%;float: left;">
                        <span class="invoi-title">PAN No:</span>
                        <span> AALCA0171E</span><br>
                        <span class="invoi-title">GST Registration No: </span><span> 06AALCA0171E1Z3</span>
                    </div>
                    <div class="col invoice-details" style="width:50%;float: left;">
                        <div class="invoi-title">Shipping Address:</div>
                        <p style="font-size: 16px;line-height: 25px;width: 215px;float: right;">
                            {{pay.shippingDetail['fullName']}}<br />
                            {{pay.shippingDetail['address1']}}<br />
                            {{pay.shippingDetail['city']}}, {{pay.shippingDetail['pincode']}}<br />
                            {{pay.shippingDetail['state']}}<br />
                            <b>Contact:</b> {{pay.shippingDetail['phone']}}
                        </p>
                        <!-- <div class="date">Date of Invoice: 01/10/2018</div>
                      <div class="date">Due Date: 30/10/2018</div> -->
                    </div>
                </div>
                <div class="row contacts">
                    <div class="col invoice-to" style="width:50%;float: left;">
                        <span class="invoi-title">Payment ID:</span><span> {{pay['id']}}</span><br />
                        <span class="invoi-title">Date:</span><span>
                            {{pay['createdAt'] | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <!-- <div class="col invoice-details" style="width:50%;float: left;">
                      <span class="invoi-title">Invoice Number:</span><span> DEL2-528802</span><br>
                      <span class="invoi-title">Invoice Details:</span><span> HR-DEL2-1034-1819</span><br>
                      <span class="invoi-title">Invoice Date:</span><span> 31.07.2018</span>
                  </div> -->
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr class="tablehead">
                            <th>SL No.</th>
                            <th class="text-left">Product</th>
                            <th class="text-right">Price/Qty </th>
                            <th class="text-right">Qty</th>
                            <th class="text-right">Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of pay['products_detail'];let i=index">
                            <td class="no">{{i+1}}</td>
                            <td class="text-left">
                                <h3>{{obj.purchased_product?.name}}</h3>
                            </td>
                            <td class="unit">{{obj.purchased_product.price | currency:'$':'code'}}</td>
                            <td class="qty">{{obj.quantity}}</td>
                            <td class="total" *ngIf="!obj?.discount">
                                {{(obj.purchased_product.price*obj.quantity) | currency:'$':'code'}}</td>
                            <td class="total mr-2" *ngIf="obj?.discount?.value">
                                {{ (obj.purchased_product.price*obj.quantity) -
                                ((obj.purchased_product.price*obj.quantity) * (obj?.discount?.value)/100) |
                                currency:'$':'code'}}
                                <span class="badge badge-primary" *ngIf="obj?.discount?.value">With
                                    {{obj.discount.value}}% Off</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" class="thanks"><strong>Thank you!</strong></td>
                            <td colspan="2">GRAND TOTAL</td>
                            <td>{{pay['price'] | currency:'$':'code'}}</td>
                        </tr>
                    </tfoot>
                </table>
                <!-- <div class="notices">
                  <div>NOTICE:</div>
                  <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
              </div> -->
            </main>
            <footer class="lightgreen">
                Invoice was created on a computer and is valid without the signature and seal.
            </footer>
        </div>

    </div>
</div>