<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>View Feedback</span>

        <button *ngIf="pageNo" class="btn btn-secondary" routerLink="/feedback/feedback/{{pageNo}}">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
        <button  *ngIf="!pageNo" class="btn btn-secondary" [routerLink]="['/feedback']">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <form>
        <fieldset>

            <div class="col-md-12 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label>Title</label>
                                <p class="text">{{feedback?.title}}</p>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label>Email</label>
                                <p class="text">{{feedback?.email}}</p>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label>Message</label>
                                <p class="text">{{feedback?.message}}</p>
                            </div>

                            <div class="col-md-12">
                                <label>Your Reply</label>
                                <p class="text" *ngFor="let reply of feedback?.replies;let i = index"><strong>{{i+1}}</strong> {{reply?.message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</main>