<main class="main-pannel">
    <h1 class="section-header d-flex justify-content-between">
        <span>{{ roleID ? "Edit" : "Add" }} Role</span>
        <button *ngIf="pageNo" class="btn btn-secondary"
            routerLink="/rolesAndPermissions/rolesAndPermissions/{{pageNo}}">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
        <button *ngIf="!pageNo" class="btn btn-secondary" routerLink="/rolesAndPermissions/">
            <i class="fa fa-arrow-left" title="Back to list"></i>
        </button>
    </h1>

    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="col-md-12 px-0">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row addupdateform">
                            <div class="col-sm-6">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Role</label>
                                    <section>
                                        <input type="text" autocomplete="off" placeholder="" formControlName="name"
                                            class="form-text" class="form-control" disabled
                                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required="">
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Role is required</div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                            <div class="col-sm-6">
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group  has-required">
                                    <label for="nf-name">Permissions</label>
                                    <section>
                                        <ul class="checkbox-items">
                                            <li *ngFor="let role of rolePermissions">
                                                <label>
                                                    <input type="checkbox" class="mr-2" [checked]=role.isChecked
                                                        (change)="role.isChecked = !role.isChecked">{{role.label}}
                                                </label>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>

                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary">{{ roleID ? "Update" : "Add" }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</main>