.form-group{
    >label{
        width: 100px !important;
    }

    >section{
        width:calc(100% - 100px);
    }
}

.checkbox-items{
    margin: 0;
    margin-top: 8px;
    padding: 0;
    li{
        display: inline-block;
        list-style: none;
        margin-right: 15px;
    }
}